/* =========================
   reset
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   base
========================= */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  line-height: 1.6;
  background: #f5f5f5;
}

/* =========================
   layout
========================= */
.wrapper {
  max-width: 375px;
  margin: 0 auto;
  background: #fff;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 48px 0;
}

.fv {
  padding: 0;
}


/* =========================
   header
========================= */
.header {
  height: 58.31px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  padding: 0 10px;
}

/* ロゴ */
.header__logo img {
  width: 154px;
  height: 27px;
}

/* ボタンエリア */
.header__actions {
  display: flex;
  gap: 8px;
}

/* ボタン共通 */
.header__btn {
  width: 88px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* ←ここ変更 */
  padding-left: 12px; /* ←これ重要 */
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;
}

.header__btn-main {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.header__btn-sub {
  font-size: 12px;
  font-weight: 700;
  line-height: 130%;
}

.header__btn--red {
  background: #F23134;
}

.header__btn--dark {
  background: #4E3736;
}

.header__btn {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  position: relative;
  padding-right: 12px; /* 矢印分余白 */
}

.header__btn::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #fff;
}

/* =========================
   fv
========================= */
.fv {
  position: relative;
  background: #4FA668;
  overflow: hidden;
  min-height: 430px;
}

.fv__inner {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.fv__woman {
  position: absolute;
  left: 100px;
  top: 155px;
  width: 277px; 
}

.fv__badge {
  position: absolute;
  right: 17px;
  top: 25px;
  width: 86px;
}

.fv__text {
  padding: 29px 26px 0;
  color: #fff;  
}

.fv__catch {
  font-size: 18px;
  margin-bottom: 8px;
}

.fv__title img {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}

.fv__metric {
  display: block;
  transform: none;
  margin-left: -26px;
}
.fv__metric2 {
  display: block;
  transform: none;
  margin-left: -26px;
  margin-top: -25px;
}

.fv__metricImg {
  width: 100%;
  max-width: 290px;
}

.fv__catchWrap {
  display: inline-block;
  margin-bottom: 5px;
}

.fv__catch {
  font-size: 32px;
  line-height: 1;
}

.fv__catch .highlight {
  background: #FFF8BD;
  color: #18724A;
  display: inline-block;
  line-height: 1;
  padding: 3px 3px 0;
}

.fv__catch .normal {
  color: #fff;
  font-size: 31px;
}

.fv__label {
  margin-top: 8px;

  display: inline-block;
  padding: 4px 12px;

  font-size: 16px;
  font-weight: 700;
  color: #fff;

  background: #18724A;
  border: 1px solid #fff;
  border-radius: 999px;
}

/* .fv::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  height: 140px;
  background:
    url("../img/fv-back.png") no-repeat center / cover;
}

.fv::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 140px;
  background:
    url("../img/fv-back.png") no-repeat center / cover;
} */

/* .fv__metric {
  display: flex;
  align-items: center;
  gap: 8px;
  transform: rotate(-5.25deg);
}

.fv__speed {
  width: 28px;
}

.fv__right {
  display: flex;
  flex-direction: column;
}

.fv__topNote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 4px;
}

.fv__topNote .text {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.fv__topNote .line {
  width: 20px;
  height: 1px;
  background: #333333;
}

.value {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.big {
  font-size: 62px;
  font-weight: 700;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.62);
  color: #FFDA03;
}

.mid {
  font-size: 33px;
  font-weight: 700;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.62);
  color: #FFDA03;
}

.dot {
  font-size: 35px;
  font-weight: 700;
}

.small {
  font-size: 25px;
  font-weight: 700;
} */


/* =========================
   CTAエリア、リニューアルキャンペーン 
========================= */
.ctaArea {
  background: #EDE4D3; /* 薄ベージュ */
  padding-top: 40px;
  padding-bottom: 32px;
  position: relative;
}

.fv__campaign {
  margin-top: -90px;
  position: relative;
  z-index: 2;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8.5px;
  overflow: hidden;
  box-shadow: 0 0 31.88px rgba(0, 0, 0, 0.35);
  background: linear-gradient(
    to bottom,
    #FFDA03 42%,
    #FFB803 100%
  );
}

.fv__campaign-main{
  margin: 8px 0;
}

.fv__campaign-title {
  text-align: center;
  font-size: 21px; /* ←ここ重要 */
  font-weight: 700;
  color: #18724A;
  line-height: 1; /* ←詰める */
  padding: 12px 0 14px; /* ←下に余白追加 */
  border-bottom: none;
  position: relative;
}

.fv__campaign-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
  width: 80%;
  border-bottom: 2px dashed #18724A;
}

.fv__campaign-main {
  text-align: center;
  padding: 16px 0;
}

.fv__campaign-main .text {
  font-weight: 700;
  color: #18724A;
  line-height: 0;
}

.fv__campaign-main .label {
  font-size: 23px;
  margin-right: 4px;
}

.fv__campaign-main .num {
  font-size: 55px;
  color: #18724A; /* ←中が緑 */
  -webkit-text-stroke: 1.5px #fff;
  text-shadow: 3.95px 3.95px 3.95px rgba(0,0,0,0.4);
  letter-spacing: -0.06em;
}

.fv__campaign-main .percent {
  font-size: 32px;
  color: #18724A;
  -webkit-text-stroke: 1.0px #fff;
  text-shadow: 3.95px 3.95px 3.95px rgba(0,0,0,0.4);
  letter-spacing: -0.15em;
}

.fv__campaign-main .up {
  font-size: 47px;
  color: #18724A;
  -webkit-text-stroke: 1.5px #fff;
  text-shadow: 3.95px 3.95px 3.95px rgba(0,0,0,0.4);
  letter-spacing: -0.04em;
}

.fv__campaign-main .unit {
  font-size: 24px;
  color: #fff;
}

.fv__campaign-note {
  background: #18724A;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 6px 0;
}

.ctaArea__buttons {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
